<div class="text-right">
    <a routerLink="/game-add" class="btn btn-success">Créer une partie</a>
</div>

<table class="mt-2 table table-striped table-hover table-sm">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nom</th>
            <th scope="col">Joueur</th>
            <th scope="col">Règles (Komi)</th>
            <th scope="col">Taille</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let game of games">
            <td>{{ game.id }}</td>
            <td>{{ game.label }}</td>
            <td>{{ game.white }} - {{ game.black }}</td>
            <td>{{ game.rules }} ({{ game.komi }})</td>
            <td class="text-center">{{ game.size }}</td>
            <td class="text-right">
                <a routerLink="/game-play/{{game.id}}" class="btn btn-sm btn-primary">Rejoindre</a>
            </td>
        </tr>
    </tbody>
</table>